/* Main Stylesheet */

/* Remove default margin from all elements
   I want my divs to reach both the edges of the screen */
* {
    margin: 0;
    box-sizing: border-box; /* Include padding and border in box width so that adding padding doesn't increase the width */
}
div {
    padding: 0.5%;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
  
.topnav a {
float: left;
color: #f2f2f2;
text-align: center;
padding: 14px 16px;
text-decoration: none;
font-size: 17px;
}

.topnav a:hover {
background-color: #ddd;
color: black;
}

.topnav a.active {
background-color: #04AA6D;
color: white;
}


@media screen and (min-width: 600px) {
    #nav {
        background-color: aquamarine;
        width: 100%;
        text-align: left;
    }
    #header {
        background-color: aquamarine;
        width: 100%;
    }
}
/* For smaller screens the link to index.html is centered */
@media screen and (max-width: 599px) {
    #nav {
        background-color: aquamarine;
        width: 100%;
        text-align: center;
    }
    #header {
        background-color: aquamarine;
        width: 100%;
    }
}