/* Extended stylesheet based on w3.css */

@import "https://www.w3schools.com/w3css/4/w3.css";


/* Remove default margin from all elements
   I want my divs to reach both the edges of the screen */
* {
    margin: 0;
    box-sizing: border-box; /* Include padding and border in box width so that adding padding doesn't increase the width */
}

/* All text is centered by default */
body {
    text-align: center;
    background-color: mintcream;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
}
.topnav a:hover {
    background-color: #ced2d3;
    color: black;
}
.topnav a.active {
    background-color: #2196f3;
    color: black;
}

/* Default margins for the content class */
.content {
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}


#info-form {
    margin-top: 10px;
    margin-right: 50px;
    float: right;
}

#registration {
    margin: auto;
    text-align: right;
}

input {
    margin: 5px;
    border: 2px solid #ccc;
    padding: 8px;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.error-message {
    display: none;
    font-size: 10px;
    color: red;
    margin-bottom: 10px;
    word-wrap: break-word;
    width: 100%;
}

input:user-invalid {
    border-color: red;
}

input:user-valid {
    border-color: green;
}


