/* Extended stylesheet based on w3.css */

@import "https://www.w3schools.com/w3css/4/w3.css";


/* Remove default margin from all elements
   I want my divs to reach both the edges of the screen */
* {
    margin: 0;
    box-sizing: border-box; /* Include padding and border in box width so that adding padding doesn't increase the width */
}

/* All text is centered by default */
body {
    text-align: center;
    background-color: mintcream;
}

.topnav {
    overflow: hidden;
    background-color: #333;
}
.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 14px;
    border-radius: 3px;
}
.topnav a:hover {
    background-color: #ced2d3;
    color: black;
}
.topnav a.active {
    background-color: #2196f3;
    color: black;
}

/* Default margins for the content class */
.content {
    margin-top: 2%;
    margin-bottom: 0%;
    margin-left: 10%;
    margin-right: 10%;
    line-height: 1.5;
}
    
.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.form-container {
    background: white;
    padding: 20px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    max-width: fit-content;
    width: 100%;
}

.overlay-image {
    max-width: fit-content;
    max-height: fit-content;
    height: 100%;
    margin: 20px auto;
}

form {
    display: grid;
    gap: 10px;
}

.form-grid-1-2 {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: center;
}

.form-grid-1-1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: right;
}

.form-grid-1-2 label, .form-grid-1-1 label {
    text-align: right;
}

#registration {
    margin: auto;
    text-align: right;
}

input {
    margin: 5px;
    border: 2px solid #ccc;
    outline: none;
    transition: border 0.3s ease-in-out;
}

.error-message {
    display: none;
    font-size: 10px;
    color: red;
    word-wrap: break-word;
    width: 100%;
    grid-column: span 2;
    text-align: right;
}

input:user-valid {
    border-color: green;
}

input:user-invalid, .error > input {
    border-color: red;
}

input:user-valid ~ .error-message {
    display: none;
}

input:user-invalid ~ .error-message {
    display: block;
}

.error > .error-message{
    display: block !important;
}
